header {
  height: 80px;
  width: 100vw;
  background-color: var(--light-soft-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  font-size: 20px;
  color: var(--dark-ocean-blue);
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.backdropContainer {
  position: absolute;
  top: 0;
  left: 0;
}

.a {
  transition: all 0.18s;
}

.a:link,
.a:visited {
  color: inherit;
  padding: 6px 10px;
  border-radius: 12px;
  &.active {
    background-color: var(--ocean-blue);
    color: var(--extra-light-normal-beige);
    opacity: 1;
    &:hover {
      opacity: 0.9;
    }
  }
}

.a:hover,
.a:active {
  text-shadow: 0px 0px 0.5px var(--dark-ocean-blue);
}

.linksContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
