.mainGrid {
  display: grid;
  grid-template-columns: 1fr 1.8fr 1fr;
  width: 100%;
  min-height: 100vh !important;
  position: absolute;
  top: 75px;
  left: 0;
  background-color: var(--light-soft-gray);
}

@media (max-width: 1536px) {
  .mainGrid {
    grid-template-columns: 1fr 2.4fr 1fr;
  }
}
@media (max-width: 1024px) {
  .mainGrid {
    grid-template-columns: 1fr 3.6fr 1fr;
  }
}
@media (max-width: 768px) {
  .mainGrid {
    display: flex;
  }
}
.askQuestionContainer {
  background-color: var(--dark-soft-gray);
  width: 75%;
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .askQuestionContainer {
    width: 87%;
  }
}

.imageSrc {
  display: block;
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 100%;
}
.commentImage {
  display: block;
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 100%;
}
.mainImage {
  display: block;
  object-fit: cover;
  width: 100%;
}

.addPostInput {
  width: 100%;
  height: auto;
  border-radius: 12px;
  background-color: var(--soft-gray);
  padding: 8px;
  color: var(--dark-gray);
  transform: scale(1);
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    transform: scale(1.02);
  }
}

.addQuestionModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
}
.backdrop {
  background-color: #9e9fa49a;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.formModal {
  width: 40%;
  min-height: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #52545b;
  transform: translate(-50%, -50%);
  border-radius: 12px;
}

@media (max-width: 1024px) {
  .formModal {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .formModal {
    width: 90%;
    min-height: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
  }
}

.likesModal {
  width: 24%;
  height: 30%;
  overflow: scroll;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #52545b;
  transform: translate(-50%, -50%);
  border-radius: 12px;
}

.modalHeader {
  width: 100%;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #a8a9ad;
  padding-bottom: 5px;
  position: relative;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.textarea {
  width: 100%;
  height: 120px;
  padding: 10px;
  border-radius: 7px;
  background-color: #919399;
  font-size: 14px;
  resize: none;
  color: var(--extra-light-normal-beige);

  &:focus {
    outline: none;
  }
  &::placeholder {
    color: var(--extra-light-normal-beige);
  }
}

.fileInput {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
}

.fileInputContainer {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #919399;
  border-radius: 7px;
}

.imagesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
  width: 80%;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

.error {
  color: rgb(239 68 68);
  font-size: 12px;
  margin-top: 3px;
}

.error {
  color: rgb(239 68 68);
  font-size: 12px;
  margin-top: 3px;
}

.postHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--dark-gray);
  font-weight: 600;
  padding: 12px;
}

.textareaComment {
  width: 100%;
  height: 35px;
  padding: 6px 10px;
  border-radius: 15px;
  background-color: var(--soft-gray);
  color: var(--dark-gray);
  font-size: 15px;
  resize: none;
  margin-top: 10px;
  &::placeholder {
    color: #9c9c9c;
  }
  &:focus {
    height: 70px;
    outline: none;
  }
}

.comments {
  width: 85%;
  padding: 5px 8px;
  border-radius: 12px;
  background-color: var(--soft-gray);
  color: var(--dark-gray);
  font-size: 15px;
  word-break: break-all;
}
