.ul {
  list-style-type: disc;
  padding: 10px;
  padding-left: 20px;
  font-size: 11px;
}

.container {
  color: black;
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  min-width: 330px;
  & div {
    background-color: white;
  }
}

.iconContainer {
  padding: 6px 16px 6px 12px;
  width: 100%;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10%;
  border-bottom: 1px solid #bbbcc1;
}

.ulContainer {
  padding-top: 0;
  animation-duration: 0.2s;
  animation-name: appear;
  animation-iteration-count: 1;
  box-shadow: 0 0 10px 3px rgb(146, 143, 143);
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ruleName {
  font-size: 14px;
  font-weight: 600;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
