.text {
  animation-duration: 1s;
  animation-name: appear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes appear {
  0% {
    top: -100%;
  }
  90% {
    top: 0;
  }
  100% {
    top: -5%;
  }
}

.navgrid {
  display: grid;
  position: absolute;
  gap: 4.5px;
  right: 1.6%;
  top: 50%;
  transform: translateY(-50%);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
