.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  position: relative;
}
.input {
  all: unset;
  background-color: white;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  transition: all 0.1s;
  outline: 1px solid var(--dark-ocean-blue);
  color: var(--dark);
  padding-left: 5px;
  padding-right: 3px;
  margin: 0;
  font-size: 14px;
  box-sizing: border-box;
  &:focus {
    outline: 1.6px solid var(--dark-ocean-blue);
  }
  &.invalid {
    background-color: #ffcccc !important;
  }
}

.input.short {
  height: 36px;
}
.label {
  color: var(--dark-gray);
  font-weight: 500;
  font-size: 14px;
}
.lightLabel {
  color: var(--dark-gray);
  font-weight: 500;
  font-size: 14px;
}
.icon {
  position: absolute;
  right: 10px;
  top: 50%;
}

.ruleContainer {
  position: absolute;
  right: -100%;
  top: 50%;
  transform: translateY(-50%);
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: antiquewhite;
  padding: 10px;
  color: black;
  border-radius: 6px;
}

.li {
  text-align: start;
}

.passwordVisibility {
  position: absolute;
  right: 0;
  top: 52%;
  transform: translate(-18%, 12%);
  cursor: pointer;
}
.passwordVisibilityLogin {
  position: absolute;
  right: 18%;
  top: 12%;
  transform: translate(-18%, 12%);
  cursor: pointer;
}
.passwordVisibilityLoginSecondary {
  position: absolute;
  right: 60%;
  top: 10%;
  transform: translate(-70%, 10%);
  cursor: pointer;
}
.iconsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
