.resultContainer {
  border: 2px solid rgb(65, 65, 65);
  border-radius: 8px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  background-color: var(--extra-light-ocean-blue);
}
.importantColor {
  background-color: var(--light-ocean-blue) !important;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}

@media (max-width: 1000px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 640px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.incorrectHistoryGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 6px;
}
