.resultContainer {
  border: 2px solid rgb(65, 65, 65);
  border-radius: 8px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}

.incorrectHistoryGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 4px;
}
