.main {
  display: grid;
  place-items: center;
  background-color: white;
  padding: 24px 6px;
  min-height: 100vh;
  padding: 32px 6px 0;
  padding: 32px 8px 0 8px;
}

@media (min-width: 640px) {
  .main {
    padding-top: 32px;
  }
}

@media (min-width: 1024px) {
  .main {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.textCenter {
  text-align: center;
}

.p1 {
  font-size: 20px;
  font-weight: 600;
  color: var(--etxra-dark-ocean-blue);
}

.h1 {
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: var(--dark-gray);

  @media (min-width: 640px) {
    font-size: 5rem;
  }
}

.p2 {
  margin-top: 15px;
  font-size: 10px;
  line-height: 17.5px;
  color: var(--dark-dusty-rose);
}

.div {
  margin-top: 25px;
  align-items: center;
  cursor: pointer;
  display: inline-block;
}

.a {
  border-radius: 3.75px;
  background-color: var(--dark-ocean-blue);
  padding-left: 8.75px;
  padding-right: 8.75px;
  padding-top: 6.25px;
  padding-bottom: 6.25px;
  font-size: 8.75px;
  font-weight: 600;
  color: #ffffff;
  box-shadow: 0 1px 2px 0 var(--ocean-blue);
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--dark-ocean-blue);
  }

  &:focus-visible {
    outline: none;
    outline-offset: 1.25px;
    box-shadow: 0 0 0 1.25px var(--etxra-dark-ocean-blue);
  }
}
